/* подключение шрифтов */


/* ubuntu-regular - latin_cyrillic */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v19-latin_cyrillic-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/ubuntu-v19-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ubuntu-v19-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ubuntu-v19-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ubuntu-v19-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ubuntu-v19-latin_cyrillic-regular.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}


/* ubuntu-500 - latin_cyrillic */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v19-latin_cyrillic-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/ubuntu-v19-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ubuntu-v19-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ubuntu-v19-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ubuntu-v19-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ubuntu-v19-latin_cyrillic-500.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}


/* ubuntu-700 - latin_cyrillic */

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v19-latin_cyrillic-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/ubuntu-v19-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/ubuntu-v19-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ubuntu-v19-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ubuntu-v19-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ubuntu-v19-latin_cyrillic-700.svg#Ubuntu') format('svg');
    /* Legacy iOS */
}


/* Глобальные стили */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    background-color: #f1f2f6;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #324046;
    cursor: default;
    scroll-behavior: smooth;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #e8cb0f;
    color: #2a363b;
    padding: 10px 25px;
    border-radius: 30px;
    border: 1px solid #e8cb0f;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #fff;
}

.header,
.footer {
    padding: 2% 15%;
}

section {
    padding: 1% 15%;
}

@media (max-width:1200px) {
    section {
        padding: 2% 10%;
    }
}

@media (max-width:1024px) {
    section {
        padding: 2% 5%;
    }
}

.section-title {
    font-size: 42px;
    font-weight: 500;
    text-align: center;
    margin: 0.5em 0;
}


/****************** главная страница (index) ********************/


/* шапка */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    color: #2a363b;
}

.header__call {
    display: flex;
    align-items: center;
}

.call-text {
    padding-right: 30px;
}


/* адаптация шапки */

@media (max-width: 1200px) {
    .header {
        padding: 2% 10%;
    }
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        line-height: 2;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 2% 5%;
    }
    .header>div {
        margin: 0 32px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .header {
        padding: 2% 5%;
        font-size: 18px;
    }
    .header__logo {
        text-align: center;
    }
    .logo-image {
        max-width: 80%;
    }
}


/* меню */

.nav {
    background-color: #2a363b;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-item {
    padding: 30px 50px;
}

.menu-link {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.5s;
}

.active {
    border-bottom: 2px dashed #e8cb0f;
    padding-bottom: 5px;
}

.menu-link:hover {
    color: #e8cb0f;
}


/* адаптация меню */

@media (max-width: 1200px) {
    .menu {
        flex-wrap: wrap;
    }
    .menu-item {
        padding: 30px 35px;
    }
}

@media (max-width: 768px) {
    .menu-item {
        padding: 20px 35px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav {
        position: relative;
        z-index: 0;
        padding: 2% 0 5%;
    }
    .menu {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
    }
    .menu-item {
        padding: 20px 0 0 0;
    }
    .menu-link {
        font-size: 14px;
    }
    .menu-item:last-child {
        margin-bottom: 30px;
    }
}


/* секция о нас */

.about {
    background-image: url(../img/index/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 95vh;
}

.title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding-top: 50px;
}

.about__content {
    margin-top: 80px;
}

.about__content-text {
    font-size: 24px;
    line-height: 2;
    text-align: center;
}


/* адаптация секции о комании */

@media (max-width: 1200px) {
    .about {
        padding: 1% 10%;
        height: 70vh;
    }
}

@media (max-width: 1024px) {
    .about {
        padding: 1% 5%;
        height: 65vh;
    }
    .title {
        font-size: 38px;
        padding-top: 30px;
    }
    .about__content {
        margin-top: 50px;
    }
    .about__content-text {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .about {
        background-image: url(../img/index/about-adapt.png);
        height: 65vh;
    }
    .title {
        font-size: 32px;
        padding-top: 28px;
    }
    .about__content-text {
        font-size: 20px;
    }
}

@media (min-width: 719px) and (max-width: 767px) {
    .about {
        height: 85vh;
    }
}

@media (min-width: 479px) and (max-width: 720px) {
    .about {
        height: 75vh;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .about {
        background-image: none;
    }
    .about__content-text {
        font-size: 16px;
        line-height: 1.7;
    }
}


/* секция мы в цифрах */

.number {
    background-color: #f2f2f2;
    scroll-margin-top: 1em;
}

.number__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 70px;
}

.number-item {
    flex: 0 0 20%;
    font-size: 26px;
    opacity: 0;
    animation: ani 6s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.number-item-link {
    background-color: #e8cb0f;
    border-radius: 50%;
    padding: 40px;
    color: #2a363b;
    font-weight: 700;
    display: inline-block;
}

.number-item-text {
    margin-top: 30px;
    line-height: 1.3;
}

.number-item-link:hover {
    background-color: #2a363b;
    color: #fff;
    transform: scale(1.2);
}


/* адаптация секции мы в цифрах */

@media (max-width: 1200px) {
    .number {
        padding: 1% 10%;
    }
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 32px;
    }
    .number-item {
        flex: 1 0 50%;
        font-size: 22px;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .number {
        padding: 1% 5%;
    }
    .number-item {
        flex: 1 1 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }
}


/* секция преимущества */

.feature {
    background-color: #fff;
}

.feature__list {
    font-size: 24px;
    margin-top: 50px;
    counter-reset: num;
}

.f-list-item {
    position: relative;
    line-height: 1.5;
    margin: 0.5em;
    padding: 0 0 30px 80px;
}

.text_yellow {
    color: #e8cb0f;
    font-weight: 500;
}

.f-list-item::before {
    content: "" counter(num);
    counter-increment: num;
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #e8cb0f;
    color: #e8cb0f;
    top: 10px;
    left: 0;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
}


/* адаптация секции преимущества */

@media (max-width: 1200px) {
    .feature {
        padding: 1% 10%;
    }
}

@media (max-width: 1024px) {
    .feature {
        padding: 1% 5%;
    }
    .feature__list {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .feature__list {
        font-size: 20px;
    }
    .f-list-item {
        position: relative;
        line-height: 1.3;
        margin: 0.3em;
        padding: 0 0 20px 70px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .feature__list {
        font-size: 16px;
        margin-top: 30px;
    }
    .f-list-item::before {
        top: 20px;
    }
}


/*секция портфолио*/

.portfolio__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 60px;
}

.portfolio__item {
    display: grid;
    min-height: 32vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    transition: all 0.8s;
}

.portfolio__item:nth-child(2) {
    grid-column: 2/4;
}

.portfolio__item:nth-child(4) {
    grid-column: 1/3;
}

.portfolio__item:nth-child(6) {
    grid-column: 4;
    grid-row: 2/4;
}

.portfolio__button {
    grid-column: 2/4;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.portfolio__item:hover {
    border: 3px solid #e8cb0f;
    transform: scale(1.1);
}

@media (max-width:1200px) {
    .portfolio {
        padding: 1% 5%;
    }
}

@media (max-width:1024px) {
    .portfolio__inner {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin: 60px 0 20px;
    }
    .portfolio__button {
        grid-column: 1/4;
    }
}

@media (max-width:600px) {
    .portfolio__inner {
        display: none;
    }
    .portfolio__button {
        margin: 35px 0 40px;
    }
}


/*секция услуги*/

.services {
    background-color: #fff;
    scroll-margin-top: 50px;
}

.services__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
    align-items: center;
}

.services__item {
    position: relative;
    z-index: 0;
}

.text {
    font-size: 18px;
    line-height: 1.3;
    padding: 20px 30px 20px 0;
}

.services-item__img {
    width: 100%;
    object-fit: cover;
    /*background-size: cover; только для вставленных изображений*/
}

.services-item__title {
    color: #e8cb0f;
    margin-bottom: 20px;
}

.services__item:nth-child(3),
.services__item:nth-child(6),
.services__item:nth-child(8) {
    padding-left: 30px;
}

.services-item__img:hover {
    filter: grayscale(100%);
}

.services__item:nth-child(2)::before,
.services__item:nth-child(4)::before {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    /*как сделать треугольники */
    border-right: 20px solid #e8cb0f;
    /*как сделать треугольники */
    z-index: -1;
    top: 50%;
    left: -12%;
}

.services__item:nth-child(5)::after,
.services__item:nth-child(7)::after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    /*как сделать треугольники */
    border-left: 20px solid #e8cb0f;
    /*как сделать треугольники */
    z-index: -1;
    top: 50%;
    right: -12%;
}

@media (max-width: 1200px) {
    .services {
        padding: 3% 5%;
    }
    .services__inner {
        grid-template-columns: repeat(2, 1fr);
        margin-right: 35px 0;
    }
    .services__item:nth-child(3) {
        padding-left: 0px;
    }
    .services__item:nth-child(2)::before,
    .services__item:nth-child(4)::before {
        left: -7%;
    }
    .services__item:nth-child(5)::after,
    .services__item:nth-child(7)::after {
        right: -7%;
    }
}

@media (max-width: 768px) {
    .services__item:nth-child(2)::before,
    .services__item:nth-child(4)::before,
    .services__item:nth-child(5)::after,
    .services__item:nth-child(7)::after {
        display: none;
        border-right: none;
    }
}

@media (min-width:320px) and (max-width: 540px) {
    .services__inner {
        grid-template-columns: repeat(1, 1fr);
    }
    .services__item {
        text-align: center;
    }
    .services__item:nth-child(5) {
        order: 6;
    }
    .services__item:nth-child(6) {
        order: 5;
    }
    .services__item:nth-child(7) {
        order: 8;
    }
    .services__item:nth-child(8) {
        order: 7;
    }
    .services-item__text {
        font-size: 16px;
    }
    .text {
        padding: 20px 0;
    }
    .services__item:nth-child(6),
    .services__item:nth-child(8) {
        padding-left: 0px;
    }
    .services__inner {
        margin-top: 25px;
    }
}


/*секция заявка*/

.request {
    background-image: url(../img/index/request.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    background-attachment: fixed;
    /*паралакс эффект*/
}

.request>.section-title {
    color: #fff;
}

.request__form {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.request-form__input {
    width: 20%;
    margin: 0 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 2px;
    border: none;
    font-family: 'Ubuntu';
}

.request-form__input:focus {
    border: 2px solid #e8cb0f;
}

.btn-form {
    padding: 15px 40px;
    font-size: 16px;
    font-family: 'Ubuntu';
}

@media (max-width:1200px) {
    .request {
        padding: 1% 10%;
    }
    .request__form {
        margin-top: 100px;
    }
    .request-form__input {
        width: 30%;
        margin: 0 15px;
    }
}

@media (max-width:1024px) {
    .request {
        padding: 1% 5%;
    }
}

@media (max-width:771px) {
    .request__form {
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    .request-form__input {
        width: 80%;
        margin: 15px;
    }
    .btn-form {
        margin-top: 20px;
    }
}

.footer {
    background-color: #2a363b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-link {
    color: #fff;
    line-height: 2;
    border-bottom: 1px dashed #e8cb0f;
    transition: all 0.5s;
}

.item-link:hover {
    color: #e8cb0f;
}

.footer__social i {
    color: #e8cb0f;
    font-size: 24px;
    margin: 10px 7px 0;
}

.footer-contacts__item {
    line-height: 2;
}

.footer-contacts__item i {
    color: #e8cb0f;
    margin-right: 10px;
}

@media (max-width:1200px) {
    .footer {
        padding: 1% 10%;
    }
}

@media (max-width:1024px) {
    .footer {
        padding: 1% 5%;
    }
}

@media (max-width:900px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        gap: 20px;
        padding: 30px 0;
    }
    .footer__logo {
        order: 1;
    }
    .footer__link {
        order: 3;
    }
    .footer__social {
        order: 2;
    }
    .footer__contacts {
        order: 4;
    }
}

@media (min-width:320px) and (max-width:590px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer__logo {
        display: none;
    }
}

#footer__button_up {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 100px;
    z-index: 10000;
    border-radius: 15px;
    border: 1px solid #e8cb0f;
    outline: none;
    background-color: #2a363b;
    padding: 5px;
    cursor: pointer;
}

#footer__button_up:hover {
    background-color: #e8cb0f;
    border-color: #2a363b;
}


/****************** главная страница залы ********************/

.section__subtitle {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin: 1.5em 1em;
}

.halls-rent__spoiler {
    border-bottom: 1px solid #e8cb0f;
    padding: 15px 0;
    cursor: pointer;
}

.halls-rent__title {
    font-size: 22px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

details summary::-webkit-detalies-marker {
    display: none;
}

summary::before {
    content: '+';
    font-size: 48px;
    margin-right: 12px;
}

details[open] summary::before {
    content: '-';
}

.halls-rent__item {
    list-style: disc;
    line-height: 2;
    margin-left: 40px;
}

.halls__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.halls__text {
    width: 45%;
    line-height: 1.5em;
}

.halls-text__item {
    list-style: disc;
    margin: 0 15px;
}

.halls__bron-btn {
    margin: 20px;
}


/*СЛАЙДЕР HALLS*/

:root
/*ГЛОБАЛЬНАЯ ПЕРЕМЕННАЯ*/

{
    --time: 7s;
    --amount: 3;
    /*КОЛВО СЛАЙДОВ*/
}

.halls__slider {
    position: relative;
    width: 50%;
    height: 27em;
    overflow: hidden;
}

.halls-slider__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    left: -100%;
    animation: slide calc(var(--time) * var(--amount)) linear infinite;
}

@keyframes slide {
    0% {
        z-index: 10;
    }
    5% {
        left: 0;
    }
    10% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

.halls-slider__img:nth-child(2) {
    animation-delay: var(--time);
}

.halls-slider__img:nth-child(3) {
    animation-delay: calc(var(--time) * 2);
}


/*КОНЕЦ СЛАЙДЕРА*/


/*таблица*/

.halls__table {
    border-collapse: collapse;
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 18px;
}

.halls-table__head {
    font-weight: 500;
}

.halls__table td {
    padding: 17px;
    border-bottom: 1px solid #e8cb0f;
}

.halls__table tr {
    transition: all 0.4s;
}

.halls__table tr:hover {
    background-color: #e4e4e4;
}


/*АДАПТАЦИЯ*/

@media (max-width:1200px) {
    .halls {
        padding: 3% 10%;
    }
}

@media (max-width:1024px) {
    .halls {
        padding: 3% 5%;
    }
    .halls__description {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .halls__slider {
        width: 100%;
        height: 20em;
    }
    .halls__text {
        width: 100%;
    }
    .halls__bron-btn {
        text-align: center;
    }
    .milan-slider {
        order: 1;
    }
    .milan-text {
        order: 2;
    }
}

@media (max-width:768px) {
    .section__subtitle {
        font-size: 28px;
    }
    summary {
        font-size: 20px;
    }
}

@media (max-width:480px) {
    .halls__bron-btn {
        margin: 30px 80px 0 20px;
    }
}

@media (max-width:768px) {
    .halls__table {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .halls__table thead,
    .halls__table tbody,
    .halls__table tr {
        display: contents;
    }
    .halls__table td {
        display: block;
        text-align: center;
        padding: 17px;
    }
    .halls__table td:nth-of-type(1) {
        order: 1;
    }
    .halls__table td:nth-of-type(2) {
        order: 2;
    }
    .halls__table td:nth-of-type(3) {
        order: 3;
    }
    .halls__table td:nth-of-type(4) {
        order: 4;
    }
}


/****************** главная страница портфолио ********************/


/*фильтр*/

.photo__filter {
    margin: 50px 0;
}

.photo__radio {
    display: none;
    position: absolute;
}

.photo__list {
    text-align: center;
    margin-bottom: 2em;
}

.photo__list * {
    display: inline-block;
}

.photo__label {
    background-color: #e8cb0f;
    cursor: pointer;
    border-radius: 0.7em;
    padding: 0.5rem 1rem;
    margin: 0.25em;
    min-width: 70px;
}

.filter-photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;
}

.photo-item {
    position: relative;
    z-index: 0;
    transition: all 1s;
}

.photo-item img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    border-radius: 5px;
}

[value="all"]:checked~.photo-item[data-category] {
    display: block;
}

[value="family"]:checked~.filter-photo .photo-item:not([data-category~="family"]),
[value="friend"]:checked~.filter-photo .photo-item:not([data-category~="friend"]),
[value="love"]:checked~.filter-photo .photo-item:not([data-category~="love"]),
[value="person"]:checked~.filter-photo .photo-item:not([data-category~="person"]),
[value="baby"]:checked~.filter-photo .photo-item:not([data-category~="baby"]),
[value="pet"]:checked~.filter-photo .photo-item:not([data-category~="pet"]) {
    display: none;
}


/*адаптация фильтров*/

@media (max-width:1440px) {
    .filter-photo {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.4em;
    }
}

@media (max-width:900px) {
    .filter-photo {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.3em;
    }
    .photo-item img {
        height: 50vh;
        object-fit: cover;
    }
}

@media (max-width:480px) {
    .photo-item img {
        height: 30vh;
        object-fit: cover;
    }
}


/*управляемый слайдер*/

.photo__managed-slider {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 1px solid #e8cb0f;
}

.managed-slider__controls {
    position: absolute;
    bottom: 16px;
    left: 50%;
    background-color: #2a363b;
    display: flex;
    transform: translateX(-50%);
    border-radius: 5px;
}

.contols__label {
    background-color: #e8cb0f;
    width: 34px;
    height: 6px;
    cursor: pointer;
    margin: 10px 15px;
    border-radius: 2px;
    transition: all 0.5s;
}

.contols__label:hover {
    background-color: #fff;
    transform: scale(1.3);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.managed-slider__inner {
    width: 400%;
    height: 100%;
    display: flex;
}

.managed-slider__slider {
    width: 25%;
    height: 100%;
}

#r1:checked~.picture-one {
    margin-left: 0;
}

#r2:checked~.picture-one {
    margin-left: -25%;
}

#r3:checked~.picture-one {
    margin-left: -50%;
}

#r4:checked~.picture-one {
    margin-left: -75%;
}

@media(max-width:1120px) {}


/*горизонтальный аккордеон*/

.photo__accordion-list {
    margin: 30px auto;
    padding: 0;
    overflow: hidden;
}

.accordion__item {
    margin: 0;
    padding: 0;
    transition: all 0.5s linear;
}

.photo__accordion-list.horizontal {
    width: 1250px;
    height: 860px;
}

.accordion__item {
    width: 110px;
    height: 860px;
    float: left;
}

.accordion__item:hover {
    width: 50px;
}

.photo__accordion-list.horizontal li:hover {
    width: 611px;
}


/****************** главная страница контакты ********************/


/****************** главная страница бронирование ********************/